<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="homestyle.css">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Class</th>
            <th>Section</th>
            
        </tr>
        {% for f in temp_list %}
        <tr>
            <td>{{f.id}}</td>
            <td>{{f.name}}</td>
            <td>{{f.cls}}</td>
            <td>{{f.section}}</td>
           
        </tr>
        {% endfor %}
    </table>
   
    
</body>
</html>